<nav class="navbar sticky-top navbar-expand-md navbar-dark bg-dark">
    
    <a class="navbar-brand" href="#">
        <span class="mr-1 text-success"><i class="fas fa-film fa-2x"></i> MoviesApp</span>
        <!-- <img class="mr-1" src="assets/img/logo.svg"  alt="" loading="lazy"> -->
        
    </a> 
<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
    aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
</button>

<div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
        <li class="nav-item">
            <a class="nav-link" routerLink="/home">Home</a>
        </li>
        <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              Películas
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
              <a class="dropdown-item" routerLink="/home">En cartelera hoy</a>
              <a class="dropdown-item" href="#">Próximamente</a>
              <a class="dropdown-item" href="#">Mejor valoradas</a>
            </div>
        </li>
        <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuGenero" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              Géneros
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuGenero">
              <a class="dropdown-item" routerLink="/home">Acción</a>
              <a class="dropdown-item active" href="#">Adult</a>
              <a class="dropdown-item" href="#">Aventura</a>
            </div>
        </li>

    </ul>
    <div class="form-inline my-2 my-lg-0">
        <input 
            #txtBuscar
            (keyup.enter)="buscarPelicula(txtBuscar.value)"
            class="form-control mr-sm-2 hvr-grow" 
            type="search" 
            placeholder="Search your movie" 
            aria-label="Search">
        <button 
            (click)="buscarPelicula(txtBuscar.value)"
            class="btn btn-outline-success my-2 my-sm-0 rounded-pill" 
            type="button">Search</button>
    </div>
</div>
</nav>