<div class="row" *ngIf="pelicula">
    <div class="col-md-4">
        <!-- Imagen -->
        <img [src]="pelicula.poster_path | poster" 
             [alt]="pelicula.title"
             class="img-thumbnail">
    </div>
    <div class="col-md-8">
        <!-- Detalle -->
        <div class="row">
            <div class="col">
                <h3>{{pelicula.title}}</h3>
                <!-- <ul class="list-group list-group-horizontal">
                    <li class="list-group-item">{{pelicula.genres}}</li>
                </ul>                 -->
            </div>
            <div class="col"><h3 class="float-right"><span class="badge badge-pill badge-success">{{pelicula.release_date | date:'yyyy'}}</span>
            </h3></div>
        </div>
        <div class="row">
            <div class="col">
                <star-rating 
                [value]="pelicula.vote_average" 
                totalstars="10" 
                checkedcolor="gold" 
                uncheckedcolor="gray" 
                size="16px" 
                readonly="false">
                </star-rating>                
            </div>
            <div class="col text-white"><p>Voto promedio:<span class="badge badge-pill badge-primary"> {{pelicula.vote_average | number:'1.1-2'}}</span></p></div>
        </div>
        <div class="row mt-2">
            <div class="col">
                <p class="text-justify">{{pelicula.overview}}</p>
            </div>
        </div>
        <div class="row">
            <div class="col-12">
                <h4>Frase célebre</h4>
                <p>{{pelicula.tagline}}</p>
                <p>Polularidad:<span class="badge badge-pill badge-primary">{{pelicula.popularity | number:'.0-0'}} / 10</span></p>
                
            </div>
        </div>
        <div class="row">
            <div class="col">
                <button
                    (click)="onReturn()" 
                    class="btn btn-outline-light-green rounded-pill my-sm-0">
                    Regresar

                </button>
            </div>
        </div>

    </div>
</div>
<div class="row my-5" *ngIf="cast.length > 0">
    <div class="col-12">
        <app-cast-slideshow [cast]="cast"></app-cast-slideshow>

    </div>
</div>